h2, h3, h4, h5, h6{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
}
.style-h-2{
    font-size: 1.55rem;
}
.style-h-3{
    font-size: 1.25rem;
}
.style-h-4{
    font-size: 1rem;
}
.style-h-5{
    font-size: .8125rem;
    font-weight: 300!important;
}
.font-weight-light {
    font-weight: 300!important;
}
.upper-h-6{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: .8rem;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #8898aa!important;
}
.container-info-calendar{
    /*align-items: center;*/
    /*box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;*/
    /*box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;*/
}
.container-info-calendar .card{
    background-color: transparent;
    /*box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;*/
    box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
    
}
.detailContainer{
    background-color: transparent;
    height: auto;
}
.detailContainer .detailContent{
    height: max-content;
}

.detailContainer .content-border{
    border-bottom: 2px solid rgba(0,0,0,.1);
    padding-bottom: 10px;
}

@media (min-width: 992px){
    .container-info-calendar .card{
        border: 0;
    }
    /* .container-info-calendar .card-info-user{
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    } */
    .container-info-calendar .card-calendar-content{
        box-shadow: none;
    }
    .detailContainer .content-border{
        border-right: 2px solid rgba(0,0,0,.1);
        padding-bottom: 0;
        border-bottom: none;
    }
}

.percentage-success{
    color: #2dce89;
    font-size: .875rem;
    margin-left: 10px;
}
.percentage-danger{
    color: #f5365c;
    font-size: .875rem;
    margin-left: 10px;
}
.profile-user{
    width: 120px;
    min-width: 120px;
    height: 120px;
    object-fit: cover;
}
.profile-user img{
    border: 0;
    background-color: transparent;
}
.card-body-profile-info{
    /*border-bottom: 1px solid hsl( 0 0% calc( 93% - 3%) );
    border-bottom: 2px solid rgba(0,0,0,.1);
    margin-bottom: 16px;*/
    padding-bottom: 16px;
    align-items: center;
}
.user-info{
    font: normal normal normal 14px/1 NucleoIcons;
    font-size: 1.05rem;
    color: hsl( 226 34% 24%); 
}